
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutAdmin</title>
</head>
<body>
    <div>
       @Html.ActionLink("Главная", "Index", new { area = "", controller = "RealEstate" })
    </div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
