@using Cub.WebUI.Models
@model RealEstateListViewModel
@{
    ViewBag.Title = "Фильтр недвижимости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row panel">
                <div id="categories" class="col-md-3" style="padding-right: 5px;">
                    <div class="col-md-12">
                        @Html.Action("MenuAll", "Nav")
                    </div>
                    <div class="col-md-12">
                        @Html.Partial("_Filter")
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-12">
                        @foreach (var rEstate in Model.RealEstates)
                        {
                            @Html.Partial("_RESummary", rEstate)
                        }

                    </div>
                    <div class="page-bloc btn-group pull-right " style="margin-right:15px;">
                        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ListAll", new { page = x, typeOperation = Model.CurrentTypeOfOperations }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

