
@{
    ViewBag.Title = "О компании";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

<style>
    hr{
        margin-top:0;
    }
    .onas>p{
        font-size:larger;
    }
    .onas>h3{
        font-size:xx-large;
    }
    .onas>li{
        font-size:larger;
    }
</style>

<nav class="navbar navbar-default  navbar-fixed" role="navigation" style="border:none;">
    <div class="row">
        <div class="container" style="font-family:microsoft sans-serif;">
            

                <img src="~/images/Company.png" />
           
            <div class="col-md-12 onas">
                <h3><strong>Агентство недвижимости «КУБ» </strong></h3> 
                <p>- специализированное риэлторское агенство предоставляющее услуги в сегменте коммерческой недвижимости Днепропетровска и Днепропетровской области с ____года.</p>
                <br />
                <h3 style="text-align:center;"><strong>Основные виды деятельности: </strong></h3>
                <br />
                <p>
                    <strong>Аренда и съем </strong><i>объектов жилой и коммерческой недвижимости</i> <br />
                    <strong>Покупка и продажа </strong>  <i>объектов коммерческой и жилой недвижимости</i> <br />
                    <strong>Инвестирование </strong> <i>объектов первичного и вторичного рынка недвижимости</i> <br />
                    <strong>Управление </strong> <i>разными видами недвижимости.</i>
                </p>
                <br />
                <p>
                    Какое время мы бы не взяли – недвижимость была и остается популярной и пользуется спросом. Для комфортабельной, счастливой и надежной жизни нужен дом. Свой Дом. А если быть точным не дом, а пространство внутри дома. Приобретая недвижимость человек на самом деле приобретает не стены, а ту пустоту которую они окружают. Парадокс в том, что когда человек приобретает недвижимость, то он вкладывает  деньги в пустоту, окруженную стенами здания. Владение недвижимостью всегда было надежной инвестицией и способом получения финансовой прибыли. Конечно, сейчас во время всеобщего распространения СМИ, поиск информации достаточно прост с одной стороны, но с другой -лавинообразный поток  первичных и вторичных данных, еще более сильно запутывает и выбраться из него не просто даже для профессионала. Сложность в том, что предоставленная информация не всегда отсортирована, повторяется и не корректно дублируется, да и не всегда проверяется. А что самое неприятное, преднамеренно искажается.
                </p>
                <br />
                <p>
                    Наше агенство  недвижимости «КУБ» профессионально занимается разными направлениями в области недвижимости связанными с различными видами операций и предоставляет услуги нашим клиентам.  Каждый наш сотрудник имеет большой опыт в данной области. Поэтому предоставление качественных услуг, связанных с недвижимостью это неотъемлемая часть в деятельности компании. Любого, обратившегося к нам клиента, мы рассматриваем как Партнера, которому мы профессионально и в максимально возможный короткий срок помогаем решить его вопрос. Наши специалисты помогают  вам осуществить самые заветные желания – приобрести недвижимость, инвестировать свои свободные финансы или же снять или сдать в аренду квартиру. Применяя разные модели бизнеса в этой области, внедряя лучшее из существующего в свою работу, мы можем максимально лучше и эффективнее помочь Партнеру определиться с выбором и разнообразием, которое существует на рынке недвижимости в Днепропетровске. Свою деятельность компания основывает не только на принципах высокоморальных этических норм, но и с помощью нотариальных и юридических гарантий. Такой подход дает возможность, обратившимся к нам, полностью просматривать весь ход сделки, чувствовать себя уверенно и не беспокоиться о проблемах. Применение технологических новинок в нашей сфере улучшает и ускоряет процесс получения информации. Делает ее понятной и удобной в использовании Партнером.
                </p>
                <br />
                <p>
                    <strong>
                        Мы работаем в различных направлениях, готовы помочь во всех вопросах, которые
                        касаются наших основных видов деятельности:
                    </strong>
                </p>
                    <ul>
                        <li> Аренда жилой недвижимости </li>
                        <li> Аренда коммерческой недвижимости </li>
                        <li> Продажа жилой недвижимости первичного и вторичного рынка </li>
                        <li> Инвестирование недвижимости </li>
                        <li> Управление недвижимостью </li>
                    </ul>

</div>
        </div>
    </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>



